body
{
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgb(53, 61, 82);
}

#container
{
    width:80%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
    background: #ffffff;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background: #33a;
    color: white;
    margin: 0;
    padding: 1em;
    font-weight: bold;
    box-shadow: -10px 10px 24px -6px rgba(0,0,0,0.76);
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#post
{
    padding: 1em;
}
.Cuerpo{
    padding: 1em;
}

#logo{
    margin-right: 5px;
    width: 30;
    vertical-align: middle;
}

#footer{
    padding: 1em;
    color: white;    
    text-align: center;
    background: rgb(82, 82, 82);
}